#navegación {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #227517;
    color: rgb(176, 247, 167);
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  #navegación a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  #navegación a:hover {
    color: #42ff6b;
  }
  